# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/

*/Builds/*
*/builds/*
Builds/*
builds/*
*.lock
FRC-2020-Vision-Java/.gradle/5.0/fileHashes/fileHashes.bin
